<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BDTesoreria" connectionString="Data Source=192.168.1.14;Initial Catalog=bdtesoreria;User ID=usuario_teso;Password=t6s0r6r14"
            providerName="System.Data.SqlClient" />
      <add name="BDSGI" connectionString="Data Source=192.168.1.14;Initial Catalog=sisinmueble;User ID=inmueble_web;Password=1nm53bl3"
            providerName="System.Data.SqlClient" />
        <!--<add name="GUI_Tesoreria.Properties.Settings.BDTesoreria" connectionString="Data Source=192.168.1.14;Initial Catalog=bdtesoreria;User ID=usuario_teso;Password=t6s0r6r14"
            providerName="System.Data.SqlClient" />
        <add name="GUI_Tesoreria.Properties.Settings.BDTESORERIAConnectionString"
            connectionString="Data Source=192.168.1.14;Initial Catalog=bdtesoreria;Integrated Security=True"
            providerName="System.Data.SqlClient" />-->
    </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
<!--<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>-->
