<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ImageHelper" version="1.0.2" targetFramework="net40" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net40" />
  <package id="Syncfusion.Compression.Base" version="18.2.0.47" targetFramework="net40" />
  <package id="Syncfusion.Licensing" version="18.2.0.47" targetFramework="net40" />
  <package id="Syncfusion.XlsIO.WinForms" version="18.2.0.47" targetFramework="net40" />
</packages>