<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <connectionStrings>
    <add name="BDTesoreria" connectionString="Data Source=192.168.1.14;Initial Catalog=bdtesoreria;User ID=usuario_teso;Password=t6s0r6r14"
      providerName="System.Data.SqlClient" />
    <!--<add name="DAO_Tesoreria.Properties.Settings.BDTesoreria" connectionString="Data Source=192.168.1.14;Initial Catalog=bdtesoreria;User ID=usuario_teso"
      providerName="System.Data.SqlClient" />
    <add name="DAO_Tesoreria.Properties.Settings.BDTESORERIAConnectionString"
      connectionString="Data Source=192.168.1.14;Initial Catalog=bdtesoreria;Persist Security Info=True;User ID=usuario_teso;Password=t6s0r6r14"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>